
services:
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"


  chat-backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chat-backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/django_channels
    ports:
      - "8000:8000"
    depends_on:
      - redis

